.project-list {
  margin-top: 5rem;
  background: #fff;
}

.view-all-text {
  padding-bottom: 8rem;
  text-align: center;
  text-transform: uppercase;
}

.view-all-text a {
  padding: .5rem 0;
  font-size: 72px;
  border-bottom: 2px solid #ccc;
}

@media (max-width: 1200px) {
  .view-all-text {
    padding-bottom: 4rem;
  }
  
  .view-all-text a {
    font-size: 3.5vw;
  }
}

@media (max-width: 768px) {
  .view-all-text a {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .view-all-text a {
    font-size: 6.5vw;
  }
}
