.feature {
  position: relative;
  width: 100%;
  height: 50vh;
  max-height: 800px;
  margin: .75rem auto;
  overflow: hidden;
  cursor: pointer;
}

.feature-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.feature-text {
  width: 15em;
  height: auto;
  padding: 0 1.5rem;
  font-size: 6vw;
  line-height: 1.5;
  text-align: center;
}

.feature-text .title {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.feature-text .link {
  color: #979797;
  font-size: 0.875rem;
  border-bottom: 1px solid #979797;
}

.feature-img {
  width: auto;
  height: 100%;
}

.feature-img img {
  width: auto;
  height: 100%;
}

@media (min-width: 768px) {
  .feature {
    height: 40vw;
    margin: 1.5rem 0;
  }

  .feature-wrapper {
    padding: 2.25rem 0;
  }

  .feature-text {
    padding: 0 3rem;
    font-size: 3.5vw;
  }
}

@media (min-width: 1200px) {
  .feature-text .title {
    font-size: 72px;
  }

  .feature-text .link {
    font-size: 24px;
  }
}
