.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  margin-top: 100vh;
  padding: 1rem;
  line-height: 3rem;
  display: flex;
  justify-content: flex-end;
}

.header-links {
  text-transform: uppercase;
}

.header-links a,
.header-links .icon-arrow {
  margin-right: .75rem;
}

.header-links .icon-arrow {
  font-size: 10px;
}

.header-links a:hover,
.header-links a.active {
  border-bottom: 1px solid;
}

.header-bar {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 480px) {
  .header-links {
    display: none;
  }

  .header-bar {
    display: block;
  }
}
