.footer {
  background: #e0e0e0;
  font-size: 1.125rem;
  padding: 3rem 10vw 4rem;
}

.footer .columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}

.footer .columns h4 {
  font-weight: 300;
  margin: 12px 0;
}

.footer .columns li > a {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  cursor: pointer;
}

.footer address {
  font-style: normal;
  margin-bottom: .5rem;
}

.footer address strong {
  display: block;
  margin-top: 2rem;
}

.copyright {
  font-size: 1rem;
  padding: 2rem 0 0;
}

@media (max-width: 960px) {
  .footer {
    padding: 1.25rem 10vw 3.5rem;
  }
}

@media (max-width: 768px) {
  .footer {
    font-size: 1rem;
    padding: 1rem 8vw 2.5rem;
  }

  .copyright {
    font-size: .875rem;
  }
}

@media (max-width: 580px) {
  .footer {
    padding: 1rem 8vw 2.5rem;
  }

  .footer .columns {
    flex-direction: column;
  }

  .footer .columns h4 {
    line-height: 1;
    margin: 1.5rem 0;
  }

  .footer address {
    margin-bottom: .25rem;
  }

  .footer address strong {
    line-height: 2;
    margin-top: .75rem;
  }
}

@media (max-width: 425px) {
  .footer .columns h4 {
    margin: 1.2rem 0;
  }

  .copyright {
    padding: 1.25rem 0 0;
  }
}
