.footer {
  background: #e0e0e0;
  font-size: 14px;
  line-height: 1.65;
  padding: 48px 10% 32px;
}

.footer .columns li > a {
  border-bottom: 2px solid rgba(0, 0, 0, .2);
  cursor: pointer;
}

.footer address {
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 8px;
}

.footer address strong {
  display: block;
  line-height: 3;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}

.copyright {
  font-size: 12px;
  padding: 32px 0 0;
}